fastapi==0.135.2
uvicorn==0.42.0
requests==2.33.1
python-dotenv==1.2.2
supabase==1.0.3

# Google APIs
google-api-python-client
google-auth
google-auth-oauthlib

# Required (FIX THIS ERROR)
pyotp

# Optional (keep if used)
pandas
numpy
opencv-python
pytesseract
PyPDF2
stripe